.grid-container {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
    "header header"
    "menu content";
  gap: 3px;
  background-color: #2196F3;
  padding: 3px;
  grid-template-rows: 34px 1fr;
  grid-template-columns: 2fr 9fr;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 5px 10;
  font-size: 20px;
}


.header {
  grid-area: header;
  background-color: rgb(109, 160, 213);   
}

.header img {
  width: 30px;

}

.nav {
  grid-area: menu;
  font-size: 20px;
  font-family: serif;
  background-color: rgb(179, 194, 228);
}

.content {
  grid-area: content;
  font-family: serif;
  background-color: rgb(218, 225, 233);
}

.content img {
  width: 1100px;
}
