.grid-container {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
    "header header"
    "menu content";
  gap: 3px;
  background-color: #2196F3;
  padding: 3px;
  grid-template-rows: 34px 1fr;
  grid-template-columns: 2fr 9fr;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 5px 10;
  font-size: 20px;
}